footer
    .follow
        ul
            li
                a(href='#')
                    i.fab.fa-facebook-f
            li
                a(href='#')
                    i.fab.fa-twitter
            li
                a(href='#')
                    i.fab.fa-google-plus-g
            li
                a(href='#')
                    i.fab.fa-instagram
        hr
        p &copy; 2015 STARTUP. DESIGNED BY SHAPEDTHEME