header
    .navigation
        a.header_logo(href=`/`)
            p Startup
        .screen_icon
            span
        nav.header_menu
            ul.top_nav
                each name in [[`#`, `Home`], [`#services`, `Services`], [`#about`, `About`], [`#works`, `Works`], [`#blog`, `Blog`], [`#clients`, `Clients`], [`#jsContactForm`, `Contact`]]
                    li
                        a(href= name[0])= name[1]
    .popup_body
        .popup_content
            a.popup_close(href="#") ╳
            form.contact_form
                input#jsNamePopup(type='text' placeholder='YOUR NAME' required)
                input#jsPhonePopup(type='password' placeholder='PASSWORD' required)
                input.button#js_popup_button(type="submit" value="SIGN IN")
                P
                    span *
                    |  You should pass a small check before signing in.

    .wrapper
        .zone
            .level.flex
                .square.First(data-color='green' data-number='1' draggable='true') First
                .square.Second(data-color='yellow' data-number='2' draggable='true') Second
                .square.Third(data-color='red' data-number='3' draggable='true') Third
                .square.Fourth(data-color='purple' data-number='4' draggable='true') Fourth
                .square.Fifth(data-color='blue' data-number='5' draggable='true') Fifth
                .square.Sixth(data-color='skyblue' data-number='6' draggable='true') Sixth
                .square.Seventh(data-color='silver' data-number='7' draggable='true') Seventh
                .square.Eighth(data-color='gold' data-number='8' draggable='true') Eighth
            .level.flex
        .zone
            .level.flex
            .level.flex

    .welcome
        h1 WELCOME TO STARTUP
        p Your Favourite Creative Agency Template
        a.button.popup_link(href='#') GET STARTED